:root {
  --panel-height: 314px;
}

.panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url("../../assets/central_info/central_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: var(--panel-height);
  width: 100%;
  border-radius: 10px;
}

.planet_carousel {
  display: flex;
  position: absolute;
  top: calc(50% - 105px / 2);
  justify-content: space-between;
  width: 100%;
}

.planet_container {
  position: relative;
  width: 105px;
  height: 105px;
  border: none;

  /** switch after changing concept of planet rendering */
  left: 7px;
  bottom: 5px;
}

.progress_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  height: 18px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 30px;
}

.progress_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}
