.top_container {
  display: flex;
  width: 100%;
  gap: 24px;
  border: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex: 1;
  margin-bottom: 32px;
}

.right_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  flex-shrink: 1;
}

.right_bottom_box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
