.layout {
  display: flex;
  margin: 0;
  min-height: 100vh;
  background: #212224;
  position: relative;
}

.leftPart {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  padding: 32px;
  background: #212224;
}
